$background-color: #27201d;
$link-color: #FF4834;

body {
	background-color: $background-color;
	color: white;
	font-family: 'Roboto', sans-serif;
}

div#body-content {
	width: 980px;
	margin: auto;
}

h1 {
	font-family: 'Exo 2', sans-serif;
}

a {
	color: $link-color;
}

a:hover {
	color: lighten($link-color, 30%);
}
