$background-color: #27201d;
$link-color: #FF4834;

body {
	background-color: $background-color;
	color: #ddd;
	font-family: 'Roboto', sans-serif;
}

div#body-content {
	width: 980px;
	margin: auto;
}

h1, h2, h3 {
	font-family: 'Exo 2', sans-serif;
}

h2:first-child {
	margin-top: 0;
}

h2 {
	color: lighten($link-color, 25%);
}

a {
	color: $link-color;
}

a:hover {
	color: lighten($link-color, 30%);
}

.clear {
	clear: both;
}

footer {
	font-size: 0.7em;
	text-align: right;
	width: 980px;
	margin: 6em auto;
}
