$border-color: #232323;

div#showcase {
	position: relative;
	font-family: sans-serif;
	width: 620px;
	height: 340px;
	background: url('/images/showcase-bg.png') #534c49;
	box-shadow: 0 0 8px black inset;
}

/* window */
div#window {
	background-color: $border-color;
	width: 400px;
	height: 240px;
	box-shadow: 0 0 12px black;
	padding: 2px;
	position: absolute;
	top: 40px;
	left: 25px;
}

div#window-bar {
	background: linear-gradient(to bottom, #363636 0%,#313131 100%);
	height: 14px;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: #f8f8f8;
	padding-left: 4px;
}

div#window-bar-left, div#window-bar-right {
	display: inline;
}

div#window-stripe {
	height: 2px;
	width: 100%;
}

div#window-content {
	background-color: #ddd;
	height: 224px;
}

/* desktop switcher */
div#desktop-switcher {
	background-color: $border-color;
	position: absolute;
	left: 270px;
	top: 140px;
	width: 180px;
	height: 50px;
	box-shadow: 0 0 12px black;
}

div#desktop-switcher-content {
	background: linear-gradient(to bottom, #232323 0%, #181818 100%);
	height: 46px;
	margin: 2px;
	position: relative;
}

div#desktop-switcher-desktops {
	background-color: $border-color;
	height: 24px;
	width: 90px;
	position: absolute;
	left: 8px;
	top: 12px;
}

div#desktop-switcher-desktops .desktop {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	background-color: #d0d0d0;
}

div#desktop-switcher-desktops .desktop:nth-child(1) { left: 2px; }
div#desktop-switcher-desktops .desktop:nth-child(2) { left: 24px; }
div#desktop-switcher-desktops .desktop:nth-child(3) { left: 46px; }
div#desktop-switcher-desktops .desktop:nth-child(4) { left: 68px; }

div#desktop-name {
	color: #f8f8f8;
	font-size: 12px;
	width: 60px;
	height: 20px;
	position: absolute;
	left: 108px;
	top: 12px;
	line-height: 24px;
}

/* menu */
div#openbox-menu {
	background: linear-gradient(to bottom, #232323 0%, #181818 100%);
	box-shadow: 0 0 12px black;
	width: 120px;
	position: absolute;
	top: 40px;
	left: 470px;
}

div#openbox-menu div.title, div#openbox-menu div.entry {
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	padding: 1px 3px;
}

div#openbox-menu div.title {
	background-color: #303030;
	color: #fff;
	text-align: center;
}

div#openbox-menu div.entry {
	color: #c4c4c4;
}

div#openbox-menu div.selected {
	color: #fff;
}

div#openbox-menu hr {
	border: 0;
	height: 1px;;
	margin: 2px;
	background-color: #4e4e4e;
}

/* controls */

div#controls {
	position: relative;
}
