<!DOCTYPE html>
<html>
	<head>
		<title>Openbox theme editor</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<%= css :application %>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,500italic,700,700italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="body-content">
			<%= yield %>
		</div>
	</body>
</html>
