<!DOCTYPE html>
<html>
	<head>
		<title>Openbox theme editor</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<%= css :application %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
