<!DOCTYPE html>
<html>
	<head>
		<title>Openbox theme editor</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

		<%= css :application %>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,500italic,700,700italic' rel='stylesheet' type='text/css'>

		<%= js :application %>

		<meta property="og:image" content="/images/ogp-image.png" />

		<% if not settings.ga_key.nil? then %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '<%= settings.ga_key %>', 'auto');
			ga('send', 'pageview');
		</script>
		<% end %>
	</head>

	<body>
		<div id="body-content">
			<%= yield %>
		</div>

		<footer>
			<p>Copyright &copy; <a href="http://konrad.strack.pl">Konrad Strack</a> 2014.</p>
			<p>
				<a href="https://github.com/konradstrack/sanguine">Sanguine theme</a> and 
				<a href="https://github.com/konradstrack/sanguine-colorizer">this web app</a> are available under the terms of GPLv3. <br />
		</footer>
	</body>
</html>
