<p>Choose your colors.</p>

<div id="showcase">
	<div id="window">
		<div id="window-bar" class="main-gradient">
			<div id="window-bar-left">/bin/bash</div>
			<div id="window-bar-right">x x x</div>
		</div>
		<div id="window-stripe" class="accent-color"></div>
		<div id="window-content"></div>
	</div>

	<div id="desktop-switcher">
		<div id="desktop-switcher-content">
			<div id="desktop-switcher-desktops">
				<div class="desktop"></div>
				<div class="desktop"></div>
				<div class="desktop selected accent-color"></div>
				<div class="desktop"></div>
			</div>
			<div id="desktop-name">desktop 3</div>
		</div>
	</div>
</div>

<form method="get" action="/sanguine/download">
	<input id="accent-color-input" type="color" value="#941919"/>
	<input id="main-gradient-input" type="color" value="#363636"/>
	<input id="submit" type="submit" value="Download"/>
</form>

<script>
	function bindColor(fromInput, toElement, property) {
		var colorInput = $(fromInput);
		$(toElement).css(property, colorInput.val());

		colorInput.change(function() {
				$(toElement).css(property, colorInput.val());
		});
	}

bindColor('#accent-color-input', '.accent-color', 'background-color');
</script>
