<h1>Sanguine</h1>
<p>An Openbox theme generator for the <a href="https://github.com/konradstrack/sanguine">Sanguine</a>
theme.</p>

<div id="showcase">
	<div id="window" class="base-darker">
		<div id="window-bar" class="lighter-gradient">
			<div id="window-bar-left">/bin/bash</div>
			<div id="window-bar-right">x x x</div>
		</div>
		<div id="window-stripe" class="accent-color"></div>
		<div id="window-content"></div>
	</div>

	<div id="desktop-switcher" class="base-darker">
		<div id="desktop-switcher-content" class="base-gradient">
			<div id="desktop-switcher-desktops" class="base-darker">
				<div class="desktop"></div>
				<div class="desktop"></div>
				<div class="desktop selected accent-color"></div>
				<div class="desktop"></div>
			</div>
			<div id="desktop-name">desktop 3</div>
		</div>
	</div>

	<div id="openbox-menu" class="base-gradient">
		<div class="title base-lighter">Applications</div>
		<div class="entry">Accessories</div>
		<div class="entry">Editors</div>
		<div class="entry">Graphics</div>
		<div class="entry">Internet</div>
		<div class="entry">Office</div>
		<div class="entry selected accent-color">Multimedia</div>
		<div class="entry">Terminals</div>
		<div class="entry">File Managers</div>

		<div class="title base-lighter">System</div>
		<div class="entry">System</div>
		<hr class="base-lighter" />
		<div class="entry">Log Out</div>

	</div>
</div>

<div id="controls">
	<form method="get" action="/sanguine/download">
		<input id="accent-color-input" type="color" value="#941919"/>
		<input id="gradient-color-input" type="color" value="#232323"/>
		<input id="submit" type="submit" value="Download"/>
	</form>
</div>

<script>
	bindColor('#accent-color-input', '.accent-color', 'background-color');
	bindLighterColor('#gradient-color-input', '.base-lighter', 'background-color');
	bindDarkerColor('#gradient-color-input', '.base-darker', 'background-color');
	bindGradient('#gradient-color-input', '.base-gradient', '.lighter-gradient');
</script>
